span {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px white solid;
}

.bone{

}

.noClick{

}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}